<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Promocion</title>
    <link rel="stylesheet" href="/css/admin/products/listProductPromotion.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('../../partial/header'); %>

        <section class='backButton'>
            <div>
                <a href="/">Volver</a>
            </div>
        </section>

        <section class='tables'>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 60px;">Nombre</th>
                        <th style="width: 60px;">PrecioDeCompra</th>
                        <th style="width: 60px;">PrecioDeVenta</th>
                        <th style="width: 60px;">Stock</th>
                        <th style="width: 60px;">Categoria</th>
                        <th style="width: 60px;">SubCategoria</th>
                        <th style="width: 60px;">Valoracion</th>
                        <th style="width: 60px;">VentasTotales</th>
                        <th style="width: 60px;">VistasTotales</th>
                        <th style="width: 60px;">Descuento% (max 99)</th>
                        <th>Agregar a Promocion</th>
                        <th>Precio final</th>
                        <th>Ganancia</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.products.forEach(product => { %>
                        <tr>
                            <td>
                                <%- product.name %>
                            </td>
                            <td id='tdBuyPrice<%- product.id %>'>
                                <%- product.buyPrice %>
                            </td>
                            <td id='tdSellPrice<%- product.id %>'>
                                <%- product.sellPrice %>
                            </td>
                            <td>
                                <%- product.stock %>
                            </td>
                            <td>
                                <%- product.categoryId %>
                            </td>
                            <td>
                                <%- product.subCategoryId %>
                            </td>
                            <td>
                                <%- product.valoration %>
                            </td>
                            <td>
                                <%- product.totalSells %>
                            </td>
                            <td>
                                <%- product.totalViews %>
                            </td>
                            <form action="/admin/api/isinpromotion/<%- product.id %>?_method=PUT" method="POST">
                                <td>
                                    <input id='input<%- product.id %>' onkeydown="javascript: return event.keyCode == 69 ? false : true" class='discount' type="number">
                                </td>
                                <td>
                                    <button type="submit" class="listButtom">
                                    <img class="listImg" src="/img/admin/check.svg" id='sender<%- product.id %>' alt="Agregar">
                                </button>
                                </td>
                            </form>
                            <td id='finalPrice<%- product.id %>'>
                            </td>
                            <td id='gain<%- product.id %>'>
                                Ganancia
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </section>

        <% if (data.status) { %>
            <div id='operationSuccess'>
                <img id='successfulOperation' src="/img/admin/ok.gif" alt="">
            </div>
            <% } else if (data.status === 0) { %>
                <div id='operationSuccess'>
                    <img id='failedOperation' src="/img/admin/error.gif" alt="">
                </div>
                <% } %>

</body>

<script>
    setTimeout(() => {
        try {
            document.getElementById('operationSuccess').style.display = 'none'
            document.getElementById('successfulOperation').style.display = 'none'
        } catch {
            document.getElementById('successfulOperation').style.display = 'none'
        }
    }, 2500)

    window.onload = () => {
        let elements = document.getElementsByClassName('discount')
        for (let i = 0; i < elements.length; i++) {
            elements[i].addEventListener('keyup', (event) => {


                if (elements[i].value.match(/^[0-9]{0,2}$/)) {
                    elements[i].style.border = '3px solid #12c312'
                        //comienza descuento con sell price
                    discount = elements[i].value
                    sellPrice = document.getElementById(`tdSellPrice${elements[i].id.slice(5)}`).innerHTML.trim()
                    finalPrice = sellPrice - (sellPrice * (discount / 100))
                    document.getElementById(`finalPrice${elements[i].id.slice(5)}`).innerHTML = finalPrice
                        //fin descuento con sell price

                    //Comienza vista ganancia
                    buyPrice = document.getElementById(`tdBuyPrice${elements[i].id.slice(5)}`).innerHTML.trim()
                    ganancia = finalPrice - buyPrice
                    document.getElementById(`gain${elements[i].id.slice(5)}`).innerHTML = ganancia
                        //fin vista ganancia

                } else {
                    elements[i].style.border = '2px red solid'
                    buyPrice = document.getElementById(`tdSellPrice${elements[i].id.slice(5)}`).innerHTML.trim()
                }

            })
        }

        let elementsSenders = document.getElementsByClassName('listImg')
        for (let i = 0; i < elementsSenders.length; i++) {
            elementsSenders[i].addEventListener('click', (event) => {
                input = document.getElementById('input' + elementsSenders[i].id.slice(6))
                regexChecked = input.value.match(/^[0-9]{0,2}$/)
                if (!regexChecked) {
                    event.preventDefault()
                }
            })
        }
    }
</script>

<style>
    input {
        outline: none;
    }
</style>

</html>