<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Productos</title>
    <link rel="stylesheet" href="/css/admin/products/addProducts.css">

    

</head>

<body>
    <%- include('../../partial/header'); %>

        <section class='addProductSection'>
            <section class="sectionAddProduct">
                <section >

                    <div class='finalCardTitle'><span>Carga de Productos</span></div>

                </section>
                <form action="/admin/products/create" id='formCreateAdd' class="formCreate" method="POST" enctype="multipart/form-data">

                    <!-- <div class='finalCardTitle'><span></span></div> -->

                    <div class='inputsContainerBox'>

                        <div>
                            <figure>
                                <img id='imgView' style='max-width: 320px;' src="/img/products/productDefault.png" alt="">
                            </figure>
                        </div>

                        <div class="inputfield">
                            <span>Imagen: </span>
                            <input type="file" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputImageAdd" name="image">
                        </div>
                        <% if (locals.errors && errors.image) { %>
                            <small class="textDanger">
                            <%= errors.image.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Nombre: </span>
                            <div class="inputAddProduct">
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputName" name="name">
                            </div>
                            </div>
                            <% if (locals.errors && errors.name) { %>
                            <small class="textDanger">
                                <%= errors.name.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Precio Compra: </span>
                            <div class="inputAddProduct">
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputBuyPrice" name="buyPrice">
                            </div>
                        </div>
                            <% if (locals.errors && errors.buyPrice) { %>
                                <small class="textDanger">
                                <%= errors.buyPrice.msg %>
                                </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Precio Venta: </span>
                            <div class="inputAddProduct">
                                <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputSellPrice" name="sellPrice">
                            </div>
                            
                        </div>
                            <% if (locals.errors && errors.sellPrice) { %>
                            <small class="textDanger">
                            <%= errors.sellPrice.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Descuento: </span>
                            <div class="inputAddProduct">
                            <input type="number" class="form-control" placeholder="Ingrese el descuento..." aria-describedby="basic-addon1" id="inputDiscount" name="discount">
                            </div>
                        </div>

                        <div class="inputfield">
                            <span>Valoracion: </span>
                            <div class="inputAddProduct">
                            <input type="number" class="form-control" placeholder="Ingrese el descuento..." aria-describedby="basic-addon1" id="inputValoration" name="valoration">
                            </div>
                        </div>
                            <% if (locals.errors && errors.valoration) { %>
                            <small class="textDanger">
                            <%= errors.valoration.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Descripcion: </span>
                            <div class="inputAddProduct">
                            <textarea type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputDescription" name="description" rows="6"></textarea>
                            
                            </div>
                        </div>
                            <% if (locals.errors && errors.description) { %>
                            <small class="textDanger">
                            <%= errors.description.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Cantidad: </span>
                            <div class="inputAddProduct">
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputAmount" name="stock">
                            </div>
                        </div>
                            <% if (locals.errors && errors.stock) { %>
                            <small class="textDanger">
                            <%= errors.stock.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Codigo de Barras: </span>
                            <div class="inputAddProduct">
                            <input type="text" class="form-control" placeholder="Ingrese el nombre..." aria-describedby="basic-addon1" id="inputBarcode" name="barcode">
                            </div>
                        </div>
                            <% if (locals.errors && errors.barcode) { %>
                            <small class="textDanger">
                            <%= errors.barcode.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Animal: </span>
                            <div class="inputAddProduct">
                            <select hidden class="form-control" name="categoryId" id="inputCategoryAdd" form="formCreateAdd">
                                <option value="default">Elija una categoria</option>
                                <option value="1">Gato</option>
                                <option value="2">Perro</option>
                            </select>
                            </div>
                        </div>
                            <% if (locals.errors && errors.categoryId) { %>
                            <small class="textDanger">
                            <%= errors.categoryId.msg %>
                            </small>
                            <% } %>

                        <div class="inputfield">
                            <span>Tipo de Producto: </span>
                            <div class="inputAddProduct">
                            <select class="form-control" name="subCategoryId" id="inputSubCategoryAdd" form="formCreateAdd">
                                <option hidden value="default">Elija tipo de producto</option>
                                <option value="1">Alimentos</option>
                                <option value="2">Higiene</option>
                                <option value="3">Juguetes</option>
                                <option value="4">Camas</option>
                            </select>
                            </div>
                        </div>
                            <% if (locals.errors && errors.subCategoryId) { %>
                            <small class="textDanger">
                            <%= errors.subCategoryId.msg %>
                            </small>
                            <% } %>


                    </div>

                    <div class="buttonOptionProduct" role="group" aria-label="...">
                        <button id='back' type="button" class="buttonAddProduct">Volver</button>
                        <button id='limpiar' type="button" class="buttonAddProduct">Limpiar campos</button>
                        <button type="submit" class="buttonAddProduct" id='productCreate'>Cargar</button>
                    </div>

                </form>
            </section>
        </section>




        <% if (data.productStatus == 'created') { %>
            <div id='operationSuccess'>
                <img id='successfulOperation' src="/img/admin/ok.gif" alt="">
            </div>
            <% } else if (data.productStatus == 'failed') { %>
                <div id='operationSuccess'>
                    <img id='failedOperation' src="/img/admin/error.gif" alt="">
                </div>
                <% } %>

</body>
<script>
    setTimeout(() => {
        document.getElementById('operationSuccess').style.display = 'none'
        document.getElementById('successfulOperation').style.display = 'none'
    }, 2500)
</script>
<script src="/js/addProduct.js"></script>
</html>