<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Productos</title>
    <link rel="stylesheet" href="/css/admin/products/editProducts.css">
</head>

<body>

    <%- include('../../partial/header'); %>


        <section id='modifyProductView' class='noDisplay'>
            <section id='modifySearchView'>

                <div class='finalCardTitle'><span>Modificar Producto</span></div>


            </section>

            <form id='formEdit' class="formCreate noDisplay" method="POST" enctype="multipart/form-data">

                <div class='formContainer'>
                    <div class='finalCardTitle'><span>Modificar Producto</span></div>

                    <div class='inputsContainerBox'>

                        <div class="inputfield">
                            <div class='addImageButton'>
                                <span>Imagen</span>
                                <input id='imageContainerEdit' type="file" class="form-control" name="image" aria-label="file example">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Nombre</span>
                                <input value='<%- data.product.name  %>' type="text" type="text" class="form-control" id="inputNameEdit" name="name">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Precio Compra</span>
                                <input value='<%- data.product.buyPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputBuyPriceEdit" name="buyPrice">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Precio Venta</span>
                                <input value='<%- data.product.sellPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputSellPriceEdit" name="sellPrice">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Descripcion</span>
                                <input value='<%- data.product.description  %>' type="text" id="inputDescriptionEdit" name="description">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Cantidad</span>
                                <input value='<%- data.product.stock  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputAmountEdit" name="amount">
                            </div>
                        </div>

                        <div class="inputfield">
                            <div>
                                <span>Codigo de Barras</span>
                                <input value='<%- data.product.barcode  %>' type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBarcodeEdit" name="barcode">
                            </div>
                        </div>

                        <div class="inputfield">
                            <span class="input-group-addon" id="basic-addon1">Animal: </span>
                            <select class="form-control" name="categoryId" id="inputCategoryAdd" form="formCreateAdd">
                                <option hidden value="<%- data.product.categoryId  %>">Elija una categoria</option>
                                <option value="1">Gato</option>
                                <option value="2">Perro</option>
                            </select>
                        </div>

                        <div class="inputfield">
                            <span class="input-group-addon" id="basic-addon1">Tipo de Producto: </span>
                            <select class="form-control" name="subCategoryId" id="inputSubCategoryAdd" form="formCreateAdd">
                                <option hidden value="<%= data.product.subCategoryId  %>">Elija tipo de producto</option>
                                <option value="1">Alimentos</option>
                                <option value="2">Higiene</option>
                                <option value="3">Juguetes</option>
                                <option value="4">Camas</option>
                            </select>
                        </div>

                    </div>

                    <div class='buttonOptionProduct'>
                        <button class='backButton'>Volver</button>
                        <button class='cleanInputs'>Limpiar campos</button>
                        <button id='productSaveEdit'>Cargar</button>
                    </div>

                </div>

            </form>
        </section>
</body>

</html>l