<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Productos</title>
    <link rel="stylesheet" href="/css/admin/products/editProducts.css">
</head>

<body>

    <%- include('../../partial/header'); %>


        <main id='modifyProductView' class='noDisplay'>
            <section class="sectionEditProduct">
                <section id='modifySearchView'>

                    <div class='finalCardTitle'><span>Modificar Producto</span></div>

                </section>

                <% if (data.status == 'error') { %>
                    <span>El articulo solicitado no existe</span>
                    <% } else if (data.status == 'ok') { %>
                        <form action="/admin/products/<%- data.product.id %>?_method=PUT" id='formEdit' class="formCreate noDisplay" method="POST" enctype="multipart/form-data">
                            <div class='formContainer'>
                                <div class='inputsContainerBox'>
                                    <div class="inputfield">
                                            <span>Imagen: </span>
                                        <div class='addImageButton'>
                                            <input class="imageEditProduct" id='imageContainerEdit' type="file" name="image" aria-label="file example">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                        <span>Nombre:</span>
                                        <div class="inputEditProduct">
                                            <input  value='<%- data.product.name  %>' type="text" type="text"  id="inputNameEdit" name="name">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                            <span>Precio Compra: </span>
                                        <div class="inputEditProduct">
                                            <input value='<%- data.product.buyPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBuyPriceEdit" name="buyPrice">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                            <span>Precio Venta: </span>
                                        <div class="inputEditProduct">
                                            <input value='<%- data.product.sellPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputSellPriceEdit" name="sellPrice">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                            <span>Descripcion: </span>
                                        <div class="inputEditProduct">
                                        <textarea name="description"  type="text" id="inputDescriptionEdit"  rows="6" required> <%- data.product.description %></textarea>
                                        
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                            <span>Stock: </span>
                                        <div class="inputEditProduct">
                                            <input value='<%- data.product.stock  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputAmountEdit" name="stock">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                            <span>Codigo de Barras: </span>
                                        <div class="inputEditProduct">
                                            <input value='<%- data.product.barcode  %>' type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBarcodeEdit" name="barcode">
                                        </div>
                                    </div>
                                    <div class="inputfield">
                                        <span>Descuento: </span>
                                    <div class="inputEditProduct">
                                        <input value='<%- data.product.barcode  %>' type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputDiscountEdit" name="barcode">
                                    </div>
                                </div>
                                    <div class="inputfield">
                                        <span class="input-group-addon" id="basic-addon1">Animal: </span>
                                        <div>
                                    <select class="form-control" name="categoryId" id="inputCategoryAdd" form="formCreateAdd">
                                        
                                    <option hidden value="<%- data.product.categoryId  %>">Elija una categoria</option>
                                    <option value="1">Gato</option>
                                    <option value="2">Perro</option>
                                </select>
                                </div>
                                    </div>
                                    <div class="inputfield">
                                        <span class="input-group-addon" id="basic-addon1">Tipo de Producto: </span>
                                        <div>
                                            <select class="form-control" name="subCategoryId" id="inputSubCategoryAdd" form="formCreateAdd">
                                        
                                    <option hidden value="<%= data.product.subCategoryId  %>">Elija tipo de producto</option>
                                    <option value="1">Alimentos</option>
                                    <option value="2">Higiene</option>
                                    <option value="3">Juguetes</option>
                                    <option value="4">Camas</option>
                                </select>
                            </div>
                                </select>
                                    </div>
                                </div>
                                <div class='buttonOptionProduct'>
                                    <button class="buttonEditProduct" id='backButton'>Volver</button>
                                    <button class="buttonEditProduct" id='cleanInputs'>Limpiar campos</button>
                                    <button class="buttonEditProduct" type="submit" id='productSaveEdit'>Cargar</button>
                                </div>
                            </div>
                        </form>
                        <% } %>



            </section>


        </main>
</body>
<script src="/js/editProduct.js"></script>
</html>