<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Productos</title>
    <link rel="stylesheet" href="/css/admin/products/editProducts.css">
</head>

<body>

    <%- include('../../partial/header'); %>


        <main id='modifyProductView' class='noDisplay'>
            <section>
                <section id='modifySearchView'>

                    <div class='finalCardTitle'><span>Modificar Producto</span></div>


                </section>

                <% if (data.status == 'error') { %>
                    <span>El articulo solicitado no existe</span>
                    <% } else if (data.status == 'ok') { %>
                        <form action="/admin/products/<%- data.product.id %>?_method=PUT" id='formEdit' class="formCreate noDisplay" method="POST" enctype="multipart/form-data">
                            <div class='formContainer'>
                                <div class='finalCardTitle'><span>Modificar Producto</span></div>

                                <div class='inputsContainerBox'>

                                    <div class="inputfield">
                                        <div class='addImageButton'>
                                            <span>Imagen</span>
                                            <input id='imageContainerEdit' type="file" class="form-control" name="image" aria-label="file example">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Nombre</span>
                                            <input value='<%- data.product.name  %>' type="text" type="text" class="form-control" id="inputNameEdit" name="name">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Precio Compra</span>
                                            <input value='<%- data.product.buyPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputBuyPriceEdit" name="buyPrice">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Precio Venta</span>
                                            <input value='<%- data.product.sellPrice  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" class="form-control" id="inputSellPriceEdit" name="sellPrice">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Descripcion</span>
                                            <input value='<%- data.product.description  %>' type="text" id="inputDescriptionEdit" name="description">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Cantidad</span>
                                            <input value='<%- data.product.stock  %>' type="number" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputAmountEdit" name="stock">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <div>
                                            <span>Codigo de Barras</span>
                                            <input value='<%- data.product.barcode  %>' type="text" onkeydown="javascript: return event.keyCode == 69 ? false : true" id="inputBarcodeEdit" name="barcode">
                                        </div>
                                    </div>

                                    <div class="inputfield">
                                        <span class="input-group-addon" id="basic-addon1">Animal: </span>
                                        <select class="form-control" name="categoryId" id="inputCategoryAdd" form="formCreateAdd">
                                    <option hidden value="<%- data.product.categoryId  %>">Elija una categoria</option>
                                    <option value="1">Gato</option>
                                    <option value="2">Perro</option>
                                </select>
                                    </div>

                                    <div class="inputfield">
                                        <span class="input-group-addon" id="basic-addon1">Tipo de Producto: </span>
                                        <select class="form-control" name="subCategoryId" id="inputSubCategoryAdd" form="formCreateAdd">
                                    <option hidden value="<%= data.product.subCategoryId  %>">Elija tipo de producto</option>
                                    <option value="1">Alimentos</option>
                                    <option value="2">Higiene</option>
                                    <option value="3">Juguetes</option>
                                    <option value="4">Camas</option>
                                </select>
                                    </div>

                                </div>

                                <div class='buttonOptionProduct'>
                                    <button class='backButton'>Volver</button>
                                    <button class='cleanInputs'>Limpiar campos</button>
                                    <button type="submit" id='productSaveEdit'>Cargar</button>
                                </div>

                            </div>

                        </form>
                        <% } %>



            </section>


        </main>
</body>

<script>
    //Limpieza de Campos
    function limpiarCampos() {
        document.getElementById("inputNameEdit").value = ''
        document.getElementById("inputBuyPriceEdit").value = ''
        document.getElementById("inputSellPriceEdit").value = ''
        document.getElementById("inputDiscountEdit").value = ''
        document.getElementById("inputDiscountEdit").value = ''
        document.getElementById("inputValorationEdit").value = ''
        document.getElementById("inputDescriptionEdit").value = ''
        document.getElementById("inputAmountEdit").value = ''
        document.getElementById("inputBarcodeEdit").value = ''

    }

    document.addEventListener('click', event => {
        try {
            elementId = event.path[0].id
            elementClass = event.path[0].className
        } catch {
            elementId = event.target.id
            elementClass = event.path[0].className
        }

        if (elementId == 'limpiar') {
            limpiarCampos()
            event.preventDefault()
        } else if (elementId == 'back') {
            window.location.href = `${window.location.origin}`
        }
    })
</script>

</html>