<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>PetLovers</title>
</head>

<body id='body'>
    <%- include('header-invited'); %>
    <%- include('menuMobileInvited'); %>

    <section id='all'>

        <section id='carousel' class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
                <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                    <img src="/img/banersCarrousel/banner01.jpg" alt="">
                </li>
            </ol>
        </section>

        <section id='pet-categories'>
            <span>¿Que mascota tienes?</span>
            <div class='categories'>
                <a class='pin-cat'><img src="/img/cat-vector.svg" alt=""></a>
                <a class='pin-dog'><img src="/img/dog-vector.svg" alt=""></a>
            </div>
        </section>

        <section id='promotions' class='box-cards'>

            <div class='promotions-title box-title'>
                <span>Promociones!</span>
            </div>

            <div class='cards-promotions box-card-section'>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
                <div class="card-promotion box-card"></div>
            </div>

        </section>

        <section id='best-sell' class='box-cards'>

            <div class='best-sell-title box-title'>
                <span>Mas vendidos!</span>
            </div>

            <div class='cards-best-sell box-card-section'>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
                <div class="card-best-sell box-card"></div>
            </div>

        </section>

    </section>



    <%- include('footer'); %>
    <%- include('carritoFlotante'); %>
    <%- include('wsp-dog-chat'); %>
    <%- include('ingresar-registrarse'); %>


</body>
<script src="/js/home.js"></script>
</html>