<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index/home.css">
    <title>PetLovers</title>
</head>

<body id='body'>
    <%- include('../partial/header-invited'); %>
    <%- include('../partial/menuMobileInvited'); %>

    <section id='all'>

        <section id='carousel' class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
                <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                    <img src="/img/banersCarrousel/banner01.jpg" alt="">
                </li>
            </ol>
        </section>

        <section id='pet-categories'>
            <div class='pet-duo'>
                <span>¿Que mascota tienes?</span>
                <div class='categories'>
                    <a class='pin-cat'><img src="/img/cat-vector.svg" alt=""></a>
                    <a class='pin-dog'><img src="/img/dog-vector.svg" alt=""></a>
                </div>
            </div>
            <div class='pet-cat-cate'>

            </div>
            <div class='pet-dog-cate'>

            </div>
        </section>

        <section id='promotions' class='box-cards'>

            <div class='promotions-title box-title'>
                <span>Promociones!</span>
            </div>

            <!--Comienza el include de la seccion que contiene las tarjetas PROMOCIONES-->
                <%- include('../partial/productCardPromotions'); %>
            <!--fin del las tarjetas-->

        </section>

        <section id='best-sell' class='box-cards'>

            <div class='best-sell-title box-title'>
                <span>Mas vendidos!</span>
            </div>

            <div class='cards-best-sell box-card-section'>
                <!--Comienza el include de la seccion que contiene las tarjetas MAS VENDIDOS-->
                <%- include('../partial/productCardBestSells'); %>
                <!--fin del las tarjetas-->
            </div>

        </section>

    </section>



    <%- include('../partial/footer'); %>
    <%- include('../partial/carritoFlotante'); %>
    <%- include('../partial/wsp-dog-chat'); %>


</body>
<script src="/js/home.js"></script>
</html>