<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index/home.css">
    <title>PetLovers</title>
</head>

<body id='body'>
    <%- include('../partial/header'); %>

        <section id='all'>

            <%- include('../partial/top'); %>

                <section id='pet-categories'>
                    <div class='pet-duo'>
                        <span>¿Que mascota tienes?</span>
                        <div class='categories'>
                            <a href="/search/?pet=1&category=all" class='pin-cat'><img src="/img/cat-vector.svg" alt=""></a>
                            <a href="/search/?pet=2&category=all" class='pin-dog'><img src="/img/dog-vector.svg" alt=""></a>
                        </div>
                    </div>
                    <div class='pet-cat-cate'>

                    </div>
                    <div class='pet-dog-cate'>

                    </div>
                </section>

                <section id='promotions' class='box-cards'>

                    <div class='promotions-title box-title'>
                        <span>Promociones!</span>
                    </div>

                    <!--Comienza el include de la seccion que contiene las tarjetas PROMOCIONES-->
                    <%- include('../partial/productCardPromotions'); %>
                        <!--fin del las tarjetas-->

                </section>

                <section id='best-sell' class='box-cards'>

                    <div class='best-sell-title box-title'>
                        <span>Novedades!</span>
                    </div>

                    <!--Comienza el include de la seccion que contiene las tarjetas Novedades-->
                    <%- include('../partial/productCardNews'); %>
                        <!--fin del las tarjetas-->

                </section>

        </section>




        <%- include('../partial/footer'); %>
            <%- include('../partial/carritoFlotante'); %>
                <%- include('../partial/wsp-cat-chat'); %>


</body>
<script src="/js/home.js"></script>
<script src="/js/partials/productHeart.js"></script>

</html>