<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index/productDetail.css">

</head>

<body class="Product-body">
        <%- include('../partial/header-invited'); %>

            <div class="productDetail-padre">

                <div class="productDetail-img-info">

                    <div class="productDetail-padre-info">

                        <div class="container-box-info">

                            <div class="container-info">

                                <div class="container-title">
                                    <h5 class="title-h5"><%= product.name %> </h5>
                                    <p class="subtitulo">Lorem ipsum</p>
                                </div>

                                <div class="container-price">
                                    <div class="price">$<%= product.sellprice %> </div>
                                </div>

                                <div class="product-quantity">
                                    <p>Cantidad :</p> 
                                    <input type="number" id="cantidad" name="cantidad" min="1" max="10">
                                </div>

                                <div class="btn-box">
                                    <div class="btn-cart">
                                        <button class="cart-btn"> Añadir al carrito</button>
                                    </div>
                                    <div class="btn-buy">
                                        <button class="buy-btn"> Comprar ahora </buttom>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="container-img">

                        <div class="container-img-row">

                            <div class="box-gallery">

                                <div class="box-img">
                                    <img class="image-big" width="490" height="500" src="/img/productos/<%= product.img[0]%>">
                                    
                                </div>
                                <div class="images">
                                    
                                    <div class="small-img">
                                        <% product.img.forEach(img => { %>
                                        <img class="img-zoom" width="80" height="80" src="/img/productos/<%- img%>" onclick="showImg(this.src)">
                                       <% }) %> 
                                    </div>
                                    
                                </div>

                            </div>
                        </div>


                    </div>
                </div>






                <div class="containerInformacion">
                    <div class="container-descripcion">
                        <div class="box-descripcion">
                            <p class="p-Descripcion">
                            <h4>Descripción:</h4>
                            </p>
                            <p><%= product.description %> </p>
                        </div>
                    </div>

                    
                </div>


            </div>

            <%- include('../partial/footer'); %>

                <script>
                    let bigImg = document.querySelector('.box-img img');
                    function showImg(pic) {
                        bigImg.src = pic;
                    }
                </script>



</body>

</html>