<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index/productDetail.css">

</head>

<body class="Product-body">
    <%- include('../partial/header'); %>

        <div class="productDetail-padre">

            <div class="productDetail-img-info">

                <div class="productDetail-padre-info">

                    <div class="container-box-info">

                        <div class="container-info">

                            <div class="container-title">
                                <h5 class="title-h5">
                                    <%= data.product.name %>
                                </h5>
                                <p class="subtitulo">
                                    <%= data.product.name %>
                                </p>
                            </div>

                            <div class="container-price">
                                <div class="price">$
                                    <%= data.product.sellPrice %>
                                </div>
                            </div>

                            <div class="container-descripcion">
                                <div class="box-descripcion">
                                    <p class="p-Descripcion">
                                    <h4>Descripción:</h4>
                                    </p>
                                    <p><%= data.product.description %> </p>
                                </div>
                            </div>

                            <div class="btn-box">
                                <% if (data.session.user) { %>
                                    <% if (data.session.user.role == 1) { %>
                                        
                                    <div class="btn-cart">
                                        <button class="cart-btn"> Añadir al carrito</button>
                                    </div>
                                    <div class="btn-buy">
                                        <button class="buy-btn"> Comprar ahora </buttom>
                                    </div>
                                    <% } %><% } else { %>
                                        <div class="lineLogin">
                                            <p class="btnLogin"> Para Comprar</p>
                                        <div class="loginBtn">
                                            <a href="/ps/login"> Inicie sesión.</a> u <a href="/ps/register">Obtén una cuenta.</a>
                                        </div>
                                    </div>
                                        
                                    <% } %>        
                            </div>

                            </div>
                        </div>
                    </div>


                    <div class="container-img">

                        <div class="container-img-row">

                            <div class="box-gallery">

                                <% if (data.session.user && data.session.user.role == 0) { %>
                                    <a class='adminEdit' href="/admin/products/edit/<%- data.product.id %>">
                                        <div>
                                            <figure>
                                                <img src="/img/edit.svg" alt="">
                                            </figure>
                                        </div>
                                    </a>
                                <% } %>

                                <div class="box-img">
                                    <img class="image-big" width="490" height="500" src="/img/products/<%= data.product.imgPath%>">
                                    
                                </div>
                                <div class="images">
                                    
                                    <div class="small-img">
                                       <!--  data.product.img.forEach(img => { 
                                        <img class="img-zoom" width="80" height="80" src="/img/products/ img" onclick="showImg(this.src)">
                                       })   -->
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="containerInformacion">
                    

                </div>

            </div>

            <%- include('../partial/footer'); %>

</body>

<script>
    let bigImg = document.querySelector('.box-img img');
    function showImg(pic) {
        bigImg.src = pic;
    }
</script>

</html>