<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda</title>
    <link rel="stylesheet" href="/css/index/searchPage.css">
</head>
<body>
    <%- include('../partial/header-invited'); %>

    <div class='resultTitle'>
        <div>
            <span>Resultados de la busqueda:</span>
        </div>
    </div>

    <section class='resultSearch'>
        <%- include('../partial/productCardSearch'); %>
    </section>

    <%- include('../partial/footer'); %>
    <%- include('../partial/carritoFlotante'); %>
    <%- include('../partial/wsp-cat-chat'); %>

</body>
</html>