<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/forms.css">
    <title>Registro</title>
</head>

<body id="body">
    
    <%- include('../partial/header-invited'); %>

 

    <section class="container-form">
        <div class="container">
            

            <div class="user singupBox">
                <div class="formBx">
                    <form method="POST">
                        <h2>Registrate</h2>
                        <input type="text" name="userName" placeholder="Usuario">
                        <% if (locals.errors && errors.userName) { %>
                            <small class="text-danger"><%= errors.userName.msg %> </small>
                        <% } %>
                        <input type="text" name="name" placeholder="Nombre">
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %> </small>
                        <% } %>
                        <input type="text" name="last_name" placeholder="Apellido" <%= locals.old && old.last_name1 %>>
                        <% if (locals.errors && errors.last_name) { %>
                            <small class="text-danger"><%= errors.last_name.msg %> </small>
                        <% } %>
                        <input id="input-email" type="email" name="email" placeholder="Correo electronico">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                        <input id="input-password" type="password" name="pass" placeholder="Contraseña">
                        <% if (locals.errors && errors.pass) { %>
                            <small class="text-danger"><%= errors.pass.msg %> </small>
                        <% } %>
                        <input type="password" name="pass2" placeholder="Reingrese la contraseña">
                        <% if (locals.errors && errors.pass2) { %>
                            <small class="text-danger"><%= errors.pass2.msg %> </small>
                        <% } %>
                        <input type="submit" value="Registrarse">
                        <p class="signup">¿Ya tiene cuentra? <a href="/ps/login"> Inicie sesion.</a></p>
                    </form>
                </div>
                <div class="imgBx"><img class="imgBx-img" src="/img/gato-forms.jpg"></div>
            </div>
        </div>
    </section>

    <%- include('../partial/footer'); %>

    <script>
        /* function toggleForm(){
            section = document.querySelector('section');
            container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        } */
    </script>
</body>

</html>