<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/profile.css">
    <title>Perfil</title>
</head>

<body class="userProfileBody">
    <%- include('../partial/header'); %>



        <main class="userProfile">
            <div class="avatar">
                <img src="/img/avatars/<%= data.session.user.avatar.path %>" alt="">
            </div>
            <div class="userProfile-container">
                <section class="userName_box">

                </section>

                <section class="box_userProfile">
                    <div class="userProfile_box">
                        <h3 class="userProfile_title">Datos personales:</h3>
                        <p class="userProfile_item">Nombre:
                            <%= data.session.user.name %>
                        </p>
                        <p class="userProfile_item">Apellido:
                            <%= data.session.user.last_name %>
                        </p>
                        <p class="userProfile_item">Email:
                            <%= data.session.user.email %>
                        </p>
                        <p class="userProfile_item">Teléfono:
                            <%= data.session.user.tel ? data.session.user.tel : "------" %>
                        </p>
                    </div>
                    <div class="userProfile_box">
                        <h3 class="userProfile_title">Datos de contacto:</h3>
                        <p class="userProfile_item">Dirección:
                            <%= data.session.user.address ? data.session.user.address : "------" %>
                        </p>
                        <p class="userProfile_item">Código postal:
                            <%= data.session.user.pc ? data.session.user.pc : "------" %>
                        </p>
                        <p class="userProfile_item">Provincia:
                            <%= data.session.user.province ? data.session.user.province : "------" %>
                        </p>
                        <p class="userProfile_item">Localidad:
                            <%= data.session.user.city ? data.session.user.city : "------" %>
                        </p>
                    </div>
                </section>

                <a href="/ps/profile/edit/<%= data.session.user.id %>" class="btn btn-ad-primary">EDITAR DATOS</a>
            </div>
        </main>

        <%- include('../partial/footer'); %>

</body>

</html>