<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users/profile.css">
    <title>Perfil</title>
</head>

<body class="userProfileBody">
    <%- include('../partial/header'); %>



        <main class="userProfile">
            <div class="avatar">
                <img src="/img/avatars/<%= user.avatar %>" alt="">
            </div>
            <div class="userProfile-container">
                <section class="userName_box">
                    <h1 class="userNameh1">
                        <%= user.userName %>
                    </h1>
                </section>

                <section class="box_userProfile">
                    <div class="userProfile_box">
                        <h3 class="userProfile_title">Datos personales:</h3>
                        <p class="userProfile_item">Nombre: <%= user.name %>
                        </p>
                        <p class="userProfile_item">Apellido: <%= user.last_name %>
                        </p>
                        <p class="userProfile_item">Email: <%= user.email %>
                        </p>
                        <p class="userProfile_item">Teléfono: <%= user.tel ? user.tel : "------" %>
                        </p>
                    </div>
                    <div class="userProfile_box">
                        <h3 class="userProfile_title">Datos de contacto:</h3>
                        <p class="userProfile_item">Dirección: <%= user.address ? user.address : "------" %>
                        </p>
                        <p class="userProfile_item">Código postal: <%= user.pc ? user.pc : "------" %>
                        </p>
                        <p class="userProfile_item">Provincia: <%= user.province ? user.province : "------" %>
                        </p>
                        <p class="userProfile_item">Localidad: <%= user.city ? user.city : "------" %>
                        </p>
                    </div>
                </section>

                <a href="/ps/profile/edit/<%= user.id %>" class="btn btn-ad-primary">EDITAR DATOS</a>
            </div>
        </main>

    <%- include('../partial/footer'); %>

</body>

</html>