<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <%- include('../partial/header-invited'); %>
    <%- include('../partial/menuMobileLoged'); %>

    <section class='historia'>
        <div class='historial-titulo'>
            <div>
                <span>Historial de compras</span>
            </div>
        </div>
        <div class='historial' >
            <!--Comienzo un resumen-->
            <div class='card-historia'>
                <div>
                    <div class='card-img'>
                        <figure><img src="/img/productTest.jpg" alt=""></figure>
                    </div>
                    <div class='card-detail'>
                        <div>
                            <div class='card-id-compra'><span>ID: 12445424589</span></div>
                            <div class='card-precio'>
                                <span>$19.99</span>
                            </div>
                        </div>
                        <div class='card-resume'>
                            <div><span>Detalles</span></div>
                            <div><figure><img src="img/icon-factura.svg" alt=""></figure></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin resumen-->
            <div class='card-historia'>
                <div>
                    <div class='card-img'>
                        <figure><img src="/img/productTest.jpg" alt=""></figure>
                    </div>
                    <div class='card-detail'>
                        <div>
                            <div class='card-id-compra'><span>ID: 12445424589</span></div>
                            <div class='card-precio'>
                                <span>$19.99</span>
                            </div>
                        </div>
                        <div class='card-resume'>
                            <div><span>Detalles</span></div>
                            <div><figure><img src="img/icon-factura.svg" alt=""></figure></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='card-historia'>
                <div>
                    <div class='card-img'>
                        <figure><img src="/img/productTest.jpg" alt=""></figure>
                    </div>
                    <div class='card-detail'>
                        <div>
                            <div class='card-id-compra'><span>ID: 12445424589</span></div>
                            <div class='card-precio'>
                                <span>$19.99</span>
                            </div>
                        </div>
                        <div class='card-resume'>
                            <div><span>Detalles</span></div>
                            <div><figure><img src="img/icon-factura.svg" alt=""></figure></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <section class='background'>
        <figure>
            <img src="img/back.jpg" alt="">
        </figure>
        <figure>
            <img src="img/back.jpg" alt="">
        </figure>
    </section> -->

    <%- include('../partial/footer'); %>
    <%- include('../partial/carritoFlotante'); %>
    <%- include('../partial/wsp-dog-chat'); %>
</body>
<script src="/js/menu-mobile.js"></script>
</html>